<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Quart Test Page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Hello</h1>    
    <p>
        The shared Value ist: {{ value }}
    </p>
    <p>
        <a href="{{ url_for('reset') }}">Kaputt machen</a>
        <a href="{{ url_for('increment') }}">Eins Hoch!</a>
        <a href="{{ url_for('hello') }}">Erfrischung</a>
    </p>
</body>
</html>